{%extends 'base.html'%}
{%block title%} Upload CSV {%endblock title%}

{%block body%}

<div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
    <h1>File Input</h1>
    <form method="POST" action="/upload_csv" enctype="multipart/form-data">
        <div class="form-group">
            <label for="csvFile">CSV File Input</label>
            <input type="file" name="csvFile">
        </div>
        <button type="submit" class="btn btn-success mt-5">Upload</button>
    </form>
</div>


{%endblock body%}